* {
  box-sizing: border-box;
}
/*General style rules*/
:root {
  --primaryBnt: #1ca3ea;
  --text: #37424c;
  --icon: #8fa4b7;
  --borderRadius: 8px;
}
body {
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  font-family: Montserrat;

  background: linear-gradient(
    45deg,
    rgba(88, 101, 185, 1) 0%,
    rgba(28, 145, 226, 1) 50%,
    rgba(34, 220, 253, 1) 100%
  );
  overflow: hidden;
}
a {
  color: var(--primaryBnt);
  font-weight: bold;
  font-size: 0.8em;
}
span {
  color: var(--text);
  font-weight: bold;
  font-size: 0.8em;
  margin-bottom: 5px;
}

h1 {
  text-align: center;
  font-weight: bold;
}
/*customer rules */
.formContainer {
  width: 400px;
  padding: 40px;
  background-color: white;
  border-radius: var(--borderRadius);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.formContainer > img {
  width: 100px;
  margin: 0 auto;
}
.formContainer h5 {
  margin: 0;
  margin-right: 5px;
}

.formContainer > .bottom {
  display: flex;
  margin: 0 auto;
}
.formContainer > i {
  font-size: 3em;

  color: var(--icon);
}

input {
  font-family: Montserrat;
  border: none;
  border-bottom: 1px solid var(--icon);
  outline: none;
  padding: 8px 25px;
}
.formContainer > form {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 15px;
}
.icon_b,
.icon_p {
  position: absolute;
  top: 28px;
  left: 5px;
}

input[type="submit"] {
  font-family: Montserrat;
  border-radius: var(--borderRadius);
  color: white;
  background-color: var(--primaryBnt);
  border: none;
  padding: 10px 0;
  margin-top: 20px;
  margin-bottom: 20px;
  cursor: pointer;
  transition: all 0.4s;
}
input[type="submit"] :hover {
  background-color: #1893d4;
}
i {
  color: var(--icon);
}
#passVer {
  margin-top: 5px;
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
}
span {
  color: rgb(243, 47, 47);
  text-align: center;
  height: 20px;
}
#unten {
  text-align: center;
}
/*secand page css rules*/
table {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;

  border-collapse: collapse;
  border-style: hidden;
  font-size: 0.9em;
  font-weight: 600;
  text-align: left;
}
table td {
  width: 180px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 2px;
}
table td:nth-child(2) {
  border-right: 1px solid var(--icon);
  border-left: 1px solid var(--icon);
}

table th {
  border: 1px solid var(--icon);
  font-weight: normal;
  padding-bottom: 10px;
  padding-left: 10px;
}
#abmelden {
  margin-top: 30px;
  text-align: left;
  cursor: pointer;
}
